{% extends 'base.html' %}

{% block title %}Create new player{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href = "{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item"><a href = "{% url 'players' %}">Players</a></li>
<li class="breadcrumb-item active">New Player</li>
{% endblock %}

{% block content %}
<h2>New Player</h2>
<form method="POST" class="player-form">{% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="save btn btn-secondary">Save</button>
</form>
{% endblock %}